<div class="widget-wrap">
    <h3 class="widget-title">Links</h3>
    <div class="widget">
        <% if(theme.friends && theme.friends.length != 0){ %>
        <ul>
            <% for (var i in theme.friends){ %>
            <li><a href="<%- url_for(theme.friends[i]) %>" title=""><i class="icon-github-alt"></i> <%= i %></a></li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>
